.{
    margin: 0;
    padding: 0;
}



h2{
    margin-bottom: 50px
}

p{
    font-size: 18px;
    font-family: avenir,sans-serif;

    color: #666;
}

#content_main{
    padding-top: 100px;
    padding-bottom:100px;
}

h2{
    font-family: avenir,sans-serif;
    color: #252525;
    line-height: 0.5;
    font-size: 48px;
    font-weight: bolder;
}

.text_highlight_1{
    color: #ee6e73;
    
}

.text_right{
    text-align: right;

}

.text_highlight{
    color: #ffffff;
    background: #ee6e73;
    padding: 0 5px;
}

.font_weight_500{
    font-weight: 500;
}



#profile_pic{
    width: 50%;
}
#intro_text .heading_block{
    margin-bottom: 60px;
}

#section_head{
  
}

#section_about_me{
    padding-top: 100px;
    padding-bottom: 200px;

    border-top: solid 2px #efefef;
}

#section_hobby{
   
    padding-bottom: 200px;

    border-top: solid 2px #efefef;
}

#section_hobby .content{
    padding: 50px
}

#section_hobby .row {
       border-bottom: solid 2px #efefef;
       padding: 0px;

}

.img-container{
    padding: 0px;
}

#section_hobby img {
    max-width: 100%;
    max-height: 100%;
}


#section_contact{
    
    padding-bottom: 200px
  
}

#section_more{
         border-top: solid 2px #efefef;

     padding-top: 50px;
    padding-bottom: 200px

}

#section_contact .heading_block{
    margin-bottom: 30px;

}

#section_contact li
{
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;


}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
} 
.footer{
         border-top: solid 2px #efefef;

    padding-top: 10px;
    padding-bottom: 10px;
  
}

.footer p{
    font-size:14px;
}
