body{
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  font-size: 14px;

}

h1{
    font-weight: 800;
  color: #999;
}

h2{
    font-weight: 300;
    color: #777;
}

h3{
    font-size: 22px;
}

h3 a{
    color: #777;
}

#intro h1{
    color:#ee6e73;
}



.section_title{
  border-left:5px solid #aabfca;
  padding-left:20px;
}

.section_content{
    margin-top: 15px;
    padding: 15px;
}

#work{
  margin-top: 50px;
  margin-bottom: 50px;
}

footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  /*background-color: #ee6e73;*/

}

#footer_content{
    border-top: 1px dotted #dfdfdf;
    padding-top: 20px;
    font-family: monospace;
}
