body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
  font-family: "Open Sans", 'SF UI Text', 'SF NS Text', -apple-system, 'Helvetica Neue', Helvetica, 'Arial', 'PingFang SC', sans-serif;
  line-height: 1.5em;
}

p{
  font-size: 16px;
}


body {
  color: #4a4a4a;
  font-size: 14px;
}



.header a {
  text-decoration: none;
  color: #666;
}

.header a:hover {
  text-decoration: none;
  color: #999;
}



.link {
  color: #4D4D4D;
}

.link:hover {
  color: #4D4D4D;
  border-bottom: 1px solid #FF0000;
}


@media screen and (min-width: 700px) {
    #wrap {
        padding-top:50px;
    }
}

#wrap{
  padding-bottom:100px;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.container .col {
  width: 100%;
}


section{
  padding-bottom: 50px;
}







/*  Header  */

#navbar {
  margin-top: 1em;
}

.homenav a {
  margin: 1em;
  color: #B3B3B3;
  font-size: 14px;
  font-weight: 300;
}

.homenav a:hover {
  text-decoration: none;
  color: #666666;
}


.mainpage-header img{
  width: 18%;
}

.mainpage-header {
}

header #header-bar {
  margin-top: 0px;
  height: 10px;
}

header {
  max-height: 420px;
  height: 420px;
  overflow: hidden;
}

header #header-bar {
  margin-top: 0px;
  height: 10px;
}


.header-img{
  width: 75%;
}

/*  Intro  */

.section{
  width: 75%;
  padding-top: 4%;
  margin: 0 auto;
}


.logo-li img {
  width: 6%;
}

.

/*   Section   */

.sub-heading {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


.section img{
  width: 80%;
}




/*   Basic   */


.inline-block {
  float: none !important;
  display: inline-block !important;
}

.center { text-align: center !important; }

.center-img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*  footer  */

.footersection{
  position: absolute;
  border-top: 2px solid #F2F2F2;
  width: 100%;
  padding: 20px;
}





.footersection img:hover {
  text-decoration: none;
}


.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow:hidden;
}
