body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
  font-family:"Open sans", sans-serif;
  line-height: 1.5em;

}

h1{
    color: #424242;
}
h2{
    font-weight: 1000;
}

p{
  font-size: 18px;
  color: #666;
}


body {
  color: #4a4a4a;
  font-size: 14px;
}

.container{
    max-width: 850px;
    margin: auto;
}



@media screen and (min-width: 700px) {
    #intro {
        padding-top:50px;
        padding-left: 20px;
        padding-right:20px;
        color: #999;

    }
}

#intro p{
    font-size: 14px;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.container .col {
  width: 100%;
}


section{
  padding-bottom: 50px;
}

#intro-pic{
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#scroll-down{
    margin: 0 auto;
    width: 100px;
}




.header-img{
  width: 75%;
}

/*  Intro  */

section{
  width: 75%;
  padding-top: 4%;
  margin: 0 auto;
}


.logo-li img {
  width: 6%;
}

.

/*   Section   */

.sub-heading {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


.section img{
  width: 80%;
}




/*   Basic   */


.inline-block {
  float: none !important;
  display: inline-block !important;
}


.center-img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*  footer  */

.footersection{
  position: absolute;
  border-top: 2px solid #F2F2F2;
  width: 100%;
  padding: 20px;
}





.footersection img:hover {
  text-decoration: none;
}


.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow:hidden;
}
