body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
  font-family:"Open sans", sans-serif;
  line-height: 1.5em;

}

h1{
  font-size: 4.875rem;
}

h1,h2{
    font-weight:400;
    font-family: "PingFang","helvetica", sans-serif; 
}

h2{
  margin-bottom: 20px;
}


p {
  font-size: 16px;
  color: #666;
  margin-bottom: 40px；
}

h2.demo-title{
  color: #f56a6a;

}

h3.demo-title{
  border-left: solid 4px #ee6e73;
  padding-left: 4px;
   margin-bottom: 20px;

}

h3{
    font-weight:bold;
    font-family: "open sans", sans-serif; 
    color: #555;
    font-size: 18px;
      margin-top: 40px;
}



strong{
  font-weight: 700;
  color: #212121;
}

section{
  padding-left: 15px;
  padding-right: 15px;
}

ul{
  font-size: 16px;
  color: #666;
}

.dark-bg h1,.dark-bg h2,.dark-bg h3,.dark-bg p, .dark-bg ul{
  color: #fff
}

.demo-title h2{
  color: #ee6e73
}

.demo-body{
  color: #8492a6;
  margin-bottom: 50px;
}

.demo{
  margin-bottom: 20px
}

.text-large{
  font-size: 20px;
}

.text-small{
  font-size: 12px;
}

.no-bullet{
  list-style: none;
}

.container{
  padding: 0px;

}

.inter-section p{
  color: #ffffff;
  text-align: center;

}

.blue-background{
    background:#334959;
    padding: 5%;

}

.grey-background{
  background:#ccc;
  padding: 40px;
  margin-bottom: 0px;
}

.black-background{
  background: #333
}



.project-intro{
  font-size: 20px;
  font-weight: normal;
}

.inter-section{
  background: #333;
  color: #fff;
  font-family: helvetica;
}



.note{
  position: relative;
  left: 0;
  font-size: 14px;
  font-weight: bold;
  margin-right: 100px;
  color: #c0c1c2;
}

.text-hightlight2{
   color: #ffffff;
    background: #ee6e73;
    padding: 0 5px;
}

#intro-text p{
  font-size: 20px;
}






.container{
    max-width: 960px;
    margin: auto;
}

blockquote{
    vertical-align: middle;
    color: #212121;
    font-size: 20px;
    border-left: 4px solid #555;
}

img{
  margin-top: 50px;
}



@media screen and (min-width: 700px) {
    #intro {
        padding-top:50px;
        padding-left: 20px;
        padding-right:20px;
        padding-bottom: 50px;


    }
}

#intro {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#intro-text{
    margin-top: 20px;
    margin-bottom: 50px;
}

#scroll-down{
    margin: 0 auto;
    width: 100px;
    margin-top: 20px;
}




.container .col {
  width: 100%;
}





.homenav a {
  margin: 1em;
  color: #B3B3B3;
  font-size: 14px;
  font-weight: 300;
}

.homenav a:hover {
  text-decoration: none;
  color: #666666;
}



header #header-bar {
  margin-top: 0px;
  height: 10px;
}

header {
  max-height: 420px;
  height: 420px;
  overflow: hidden;
}

header #header-bar {
  margin-top: 0px;
  height: 10px;
}


.header-img{
  width: 75%;
}

/*  Intro  */

section{

  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0 auto;
}


#avatar{
  width: 100px;
  height:100px;
  border-radius: 50px;

}
/*   Basic   */


.inline-block {
  float: none !important;
  display: inline-block !important;
}

/*  footer  */

footer .container{
  padding: 20px;
  background-color: #000;
}

footer a{
  color: #fff;
}

footer a:hover{
  color: #777;
}

.footersection{
  position: absolute;
  width: 100%;

}





.footersection img:hover {
  text-decoration: none;
}


.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow:hidden;
}
